<template>
   <div class="container">
       <div class="row">
           <div class="col-md-12">
              <h2 class="text-center">Order System</h2>
              <div class="row">
                <div class="col-md-offset-5 col-md-2">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="control-label">Row Number</label>
                      <input type="number" name="rows" class="form-control">
                    </div>
                    <div class="form-group">
                      <label class="control-label">Column Number</label>
                      <input type="number" name="columns" class="form-control">
                    </div>
                    <div class="form-group">
                      <center><button class="btn btn-primary" @click="createTask">Submit</button></center>
                    </div>
                  </form>
                </div>
              </div>
           </div>
       </div>
   </div>
</template>
<script>
  export default {
    data(){
           return {
              grid: {
                rows: '',
                columns: ''
              },
               order_value: {
                   item_name: '',
                   price: ''
               },
               errors: [],
               order_values: [],
               update_order: {}
           }
       },
    methods: {
      createGrid()
      {
               axios.post('/grid/store', {
                   rows: this.grid.rows,
                   columns: this.grid.columns,
               })
               .then(response => {
                   this.reset();
                   this.order_values.push(response.grid_values);
               })
               .catch(error => {
                   this.errors = [];
                   if (error.response.data.errors && error.response.data.errors.name) {
                       this.errors.push(error.response.data.errors.name[0]);
                   }
                    if (error.response.data.errors && error.response.data.errors.description)
                    {
                       this.errors.push(error.response.data.errors.description[0]);
                   }
               });
      },
    }
  }
</script>